

// global constant definition
def nat x 32

// global function definition
def int main(str[] args) => {


  // assignment with expression
  def nat z (
    auto x 1;
    mut auto y 2;
    y += 1;
    x + y
  );

  // anonymous function callback
  object.add_observer(() => {
    ...
  });




}

=> {
 ret 32
}

// type definitions